{% extends "base.html" %}

{% block title %}Add Trade - SwapShop{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('add_trade_bp.static', filename='add_trade.css') }}">
{% endblock %}

{% block content %}
{{super()}}
    <div id="selected-item-container">
        <!-- Selected item card will be displayed here -->
    </div>
    <section class="items-section" id="items-section">
        <!-- Items will be dynamically populated here -->
    </section>
    <img src="{{ url_for('static', filename='png/add.png') }}" alt="Add Image" class="add-image disabled" id="add-image">
{% endblock %}
{% block modal_block %}
    <!-- Item Details Modal Section -->
    <div id="item-details-modal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="item-details-close-button">&times;</span>
            <h2>פרטים על הפריט הנבחר</h2>
            <div id="modal-item-details">
                <!-- Item details will be dynamically populated here -->
            </div>
        </div>
    </div>

    <!-- Trade Animation Container -->
    <div id="trade-animation-container" class="trade-animation-container">
        <div class="trade-animation-content">
            <h2>עסקה נוצרה</h2>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('add_trade_bp.static', filename='add_trade.js') }}"></script>
{% endblock %}

